
#Java
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class

#Leiningen, NREPL
/.lein-*
/.nrepl-port

#HG ... added automagically by Leiningen
.hgignore
.hg/

#EMACS and CIDER files
\#*\#
.\#*
*~